setup.webapp.path=/var/lib/tomcat7/webapps/opencms
setup.default.webapp=ROOT
setup.install.components=workplace,releasenotes,template3,devdemo,bootstrap

db.product=mysql
db.provider=mysql
db.create.user=opencms
db.create.pwd=password
db.worker.user=opencms
db.worker.pwd=password
db.connection.url=jdbc:mysql://{{ db_url }}:3306/
db.name=opencms
db.create.db=false
db.create.tables=true
db.dropDb=true
db.default.tablespace=
db.index.tablespace=
db.jdbc.driver=org.gjt.mm.mysql.Driver
db.template.db=
db.temporary.tablespace=

server.url=http://app01.test.com
server.name=app01.test.com
server.ethernet.address=
server.servlet.mapping=
